<div class="container-fluid text-center footer">
    <div class="row">
        <div class="col">
            <a class="navbar-brand" href="#">
                <img class="imagenMarcaHeader" src="../../../assets/Imagenes/marca.png" alt="" width="80px" height="80px">
                EcoVida
            </a>
        </div>
        <div class="col-sm-6 aling-center">
            EcoVida 2023
        </div>
        <div class="col">
            <ul class="listaFooter ">
                <li class="elementoListaFooter">
                    <i class="fa-brands fa-square-instagram"></i>
                </li>
                <li class="elementoListaFooter">
                    <i class="fa-brands fa-square-facebook"></i>
                </li>
                <li class="elementoListaFooter">
                    <i class="fa-brands fa-square-twitter"></i>
                </li>
            </ul>
        </div>
    </div>
    
</div>