$bg-color:rgb(127, 177, 127);

$font-family-primary: 'Urbanist', sans-serif;

.container-flex{
    background-color: $bg-color;
    font-family: $font-family-primary;
}

form{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.img-card{
    max-width: 400px;
}