<nav class="navbar navbar-expand-lg header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="imagenMarcaHeader" src="../../../assets/Imagenes/marca.png" alt="Imagen header">
            EcoVida
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a class="nav-link" href="alimentacion">Alimentacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cambioclim">Cambio Climatico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="recetas">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="comunidad">Comunidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">¿Quienes Somos?</a>
                </li>
                <li>
                    <!--boton de inicio de sesion-->
                    <a href="inicioses">
                        <button type="button" class="btn btn-success" style="align-items: end;">Iniciar Sesion</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>