<section class="areaUser bg-green">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Area Personal</li>
        </ol>
    </nav>

    <div class="container-fluid align-middle">
        <h1 class="ms-5 mb-5 mt-4">Area Personal</h1>
        <div class="row row-cols-1 row-cols-md-3 g-5 mx-5 px-5">
            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Recetas Guardadas</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Foros Guardados</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Mensajes Enviados</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Ajustes de Perfil</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Añadir amigo</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Donaciones</h5>
                        <a href="areauser" class="card-link">
                            <img src="../../../assets/Imagenes/acceso.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Area Personal</li>
        </ol>
    </nav>
</section>