<section class="inicioses">
    <div class="row g-0">
        <div class="col-lg-7">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item img-1 active">
                        <img src="../../../assets/Imagenes/Bosque.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="fw-bold">Vive verde, vive feliz.</h5>
                            <p>Cuida de tu medio ambiente para vivir una vida salubale y feliz.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/Imagenes/img 2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fw-bold">Come bien, come sano.</h5>
                        <p>Alimentate de forma natural junto a nuestras recetas.</p>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>

        </div>
        <div class="col-lg-5 d-flex flex-column">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-auto logo-inicio">
                <a href="index.html">
                    <img src="../../../assets/Imagenes/logomarca.jpg" class="img-fluid">
                </a>
            </div>
            <div class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center">
                <h1 class="fw-bold mb-4">Bienvenido de vuelta.</h1>
                <form [formGroup]="formulario" class="mb-5" novalidate>
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Correo electrónico</label>
                        <input type="email" [(ngModel)]="usuario.email" formControlName="email" class="form-control " placeholder="Ingresa tu email" id="input-Email1" aria-describedby="emailHelp">
                        <div *ngIf="email.errors && (email.dirty || email.touched)">
                            <div *ngIf="email.hasError('required')" class="alert-danger">El correo electrónico es obligatorio</div>
                            <div *ngIf="email.hasError('email')" class="alert-danger">El correo electrónico no tiene el formato adecuado</div>
                    
                        </div> 
                        
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                        <input type="password" [(ngModel)]="usuario.password" formControlName="password" class="form-control mb-2" placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
                        <div *ngIf="password.errors && (password.dirty || password.touched)">
                            <div *ngIf="password.hasError('pattern')" class="alert-danger">La contraseña debe contener por lo menos 1 mayuscula, 1 minuscula y una letra</div>
                            <div *ngIf="password.hasError('required')" class="alert-danger">La Contraseña es obligatoria</div>
                            <div *ngIf="password.hasError('minlength')" class="alert-danger">La Contraseña debe tener 8 caracteres como minimo</div>
                        </div>
                        <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none">¿Has olvidado tu contraseña?</a>
                    </div>
                    <div [hidden]="captcha">
                        <p>Complete el captcha para poder ingresar</p>
                        <re-captcha (resolved)="resolved($event)" siteKey="6LfanNEmAAAAAHP6O04MQDKSs9k7YlRq3Kz8HJSO"></re-captcha>
                    </div><div [hidden]="!captcha">
                        <p>funciona correctamente</p>
                    </div>
                    

                    <button (click)="submit()" class="btn btn-success w-100">Ingresar</button>
                    
                </form>
                <a href="areauser">
                    inicio
                </a>
                <p class="fw-bold text-center text-muted">O inicia sesión con</p>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-outline-dark flex-grow-1 me-2" ><i class="fa-brands fa-google lead me-2"></i>Google.</button>
                    <button type="submit" class="btn btn-outline-dark flex-grow-1 ms-2" ><i class="fa-brands fa-facebook me-2"></i>Facebook.</button>
                </div>
            </div>
            <div class="text-center px-lg-5 pt-lg-3 pb-lg4 p-4 w-100 mt-auto">
                <p class="d-inline-block mb-0">¿Todavía no tienes cuenta?</p> <a href="registro" class=" fw-bold text-decoration-none" style="color: green;">Crea una ahora.</a>
            </div>

        </div>
        
    </div>

</section>