<div class="alimentacion"  >
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Alimentación</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="card cartel1" style="max-width: 300px;">
            Alimentación
            <p>"Una alimentación saludable es el mejor regalo que puedes darte a ti mismo. Es la clave para mantener un cuerpo sano, lleno de energía y vitalidad, y una mente clara y enfocada. Al invertir en tu alimentación, estás invirtiendo en tu bienestar a largo plazo. Así que no lo pienses más, ¡comienza a alimentarte conscientemente hoy mismo!"</p>
            <a href="#">
                <button type="button" class="btn btn-success" style="align-items: end; margin-bottom: 10px;">Iniciar Sesion</button>
            </a>
        </div>
    </div>
    

    <div class="section2 container-fluid">
        <p>Beneficios de una alimentación saludable.</p>
            <div class="contenidoAlimentacion row">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            Fortalece el sistema inmunológico:
                            <p>Fortalece el sistema inmunológico y combate enfermedades.</p>
                        </li>
                        <li>
                            Mejora el estado de ánimo
                            <p>Mejora el estado de ánimo y reducir la ansiedad y la depresión.</p>
                        </li>
                        <li>
                            Mejora la calidad de vida:
                            <p>Mejora la calidad de vida en general, proporcionando al cuerpo los nutrientes necesarios para mantenerse enérgico y activo.</p>
                        </li>
                        <li>
                            Sustentable
                            <p>Contribuye a una alimentación sostenible y respetuosa con el medio ambiente.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <img src="../../../assets/Imagenes/4.png" alt="">
                </div>
            </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Alimentación</li>
        </ol>
    </nav>
</div>