<div class="container-fluid index">
    <div class="row align-items-center">
        <div class="col-sm-6">

            <div class="row ">
                <div class="textoIndex">
                    <div class="col-sm-8">
                        Vive Sano, Vive Verde
                        <p>Un estilo de vida saludable para un futuro saludable cuida el planeta y cuida a ti mismo.</p>
                    </div>
                </div>
            </div>

            <!--boton-->
            <div class="row text-center">
                    <a href="registro">
                        <button type="button" class="btn btn-success">Registrate</button>
                    </a>
            </div>
        </div>
        <!--imagen-->
        <div class="col-sm-6 text-center">
            <img src="../../../assets/Imagenes/Bosque.jpg" alt="Imagen bosque index" class="img-fluid img-rounded">
        </div>
    </div>
</div>