<section>
    <div class="bg-light pt-4">
        <div class="container mb-5">
            <div class="row">
                    <div class="col-lg-9 col-sm-12">
                        <div class="bg-white border-gray">
                            <div class="row">
                                <div class="col">
                                    <img class="profile rounded-circle " src="../../../assets/Imagenes/pic2.jpg">
                                    <input class="w-75 border-gray text-gray-dark rounded-pill bg-light ps-2 text-start" type="button" value="¿En que estás pensando?">
                                </div>
                            </div>
                            <div class="row text-gray-darker pb-2 ps-4 pe-4">
                                <div class="col text-center border-end hover-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 16h-4.83l-.59.59L12 20.17l-1.59-1.59-.58-.58H5V4h14v14zm-8-3h2v2h-2zm1-8c1.1 0 2 .9 2 2 0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4S8 6.79 8 9h2c0-1.1.9-2 2-2z"/></svg>
                                    <span>Escribir publicación.</span>
                                </div>
                                <div class="col text-center border-end hover-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><rect fill="none" height="24" width="24"/><path d="M3,10h11v2H3V10z M3,8h11V6H3V8z M3,16h7v-2H3V16z M18.01,12.87l0.71-0.71c0.39-0.39,1.02-0.39,1.41,0l0.71,0.71 c0.39,0.39,0.39,1.02,0,1.41l-0.71,0.71L18.01,12.87z M17.3,13.58l-5.3,5.3V21h2.12l5.3-5.3L17.3,13.58z"/></svg>
                                    <span>Comentar</span>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white border-gray mt-4">
                            <div class="d-flex pt-2">
                                <div class="col d-flex">
                                    <img class="post-profile rounded-circle " src="../../../assets/Imagenes/pic2.jpg">
                                    <div class="d-flex flex-column">
                                        <span class="fw-bold fs-6">Edgar Cortés</span>
                                        <span class="text-gray-darker fs-6">Experto en comer lechuga.</span>
                                    </div>
                                </div>
                                <div class="p-2 text-gray-darker">
                                    <button class="btn rounded-circle hover-dark p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="post-body pt-2 ps-3">
                                <div class="post-title fw-bold">
                                    <a class="text-decoration-none text-black" href="#">
                                        ¿Alguien más encuentra que el apio con coca-cola es lo mejor del mundo?
                                    </a>    
                                </div>
                                <div class="post-text pt-1">
                                        Desde hace mucho que vengo diciendo que el apio con cocacola es lo mejor del mundo entero.
                                </div>
                            </div>
                            <div class="post-image pt-2">
                                <img class="img-fluid" src="../../../assets/Imagenes/pic3.jpg">
                            </div>
                            <div class="post-footer p-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="left-button post-button bg-second-color border-0 text-black p-1">
                                        <img src="../../../assets/Imagenes/up.png" width="20" class="ms-2">
                                        29
                                    </button>
                                    <button type="button" class="right-button post-button bg-second-color border-0 text-black p-1">
                                        <img src="../../../assets/Imagenes/down.png" width="20" class="me-2">

                                    </button>
                                </div>
                                <button type="button" class="post-button post-button-bg border-0 rounded-circle text-black p-1">
                                    <img src="../../../assets/Imagenes/refresh.png" width="20" class="">
                                    6
                                </button>
                                <button type="button" class="post-button post-button-bg border-0 rounded-circle text-black p-1">
                                    <img src="../../../assets/Imagenes/comment.png" width="25" class="p-1">
                                    190
                                </button>
                            </div>
                        </div>
                        <div class="bg-white border-gray mt-4">
                            <div class="d-flex pt-2">
                                <div class="col d-flex">
                                    <img class="post-profile rounded-circle " src="../../../assets/Imagenes/sander.jpg">
                                    <div class="d-flex flex-column">
                                        <span class="fw-bold fs-6">Francisco Molinas</span>
                                        <span class="text-gray-darker fs-6">Maestro de la cocción de espinacas.</span>
                                    </div>
                                </div>
                                <div class="p-2 text-gray-darker">
                                    <button class="btn rounded-circle hover-dark p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="post-body pt-2 ps-3">
                                <div class="post-title fw-bold">
                                    <a class="text-decoration-none text-black" href="#">
                                        ¿Que procede despues de medio kilo de espinaca?
                                    </a>    
                                </div>
                                <div class="post-text pt-1">
                                    Sin darme cuenta, jugando LoL, me comí medio kilo de espinaca, ha sido uno de los mejores días de mi vida.
                                </div>
                            </div>
                            <div class="post-image pt-2">
                                <img class="img-fluid" src="../../../assets/Imagenes/espinaca.webp">
                            </div>
                            <div class="post-footer p-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="left-button post-button bg-second-color border-0 text-black p-1">
                                        <img src="../../../assets/Imagenes/up.png" width="20" class="ms-2">
                                        56
                                    </button>
                                    <button type="button" class="right-button post-button bg-second-color border-0 text-black p-1">
                                        <img src="../../../assets/Imagenes/down.png" width="20" class="me-2">

                                    </button>
                                </div>
                                <button type="button" class="post-button post-button-bg border-0 rounded-circle text-black p-1">
                                    <img src="../../../assets/Imagenes/refresh.png" width="20" class="">
                                    9
                                </button>
                                <button type="button" class="post-button post-button-bg border-0 rounded-circle text-black p-1">
                                    <img src="../../../assets/Imagenes/comment.png" width="25" class="p-1">
                                    654
                                </button>
                            </div>
                        </div>



                    </div>
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between">
                                    <div class="">
                                        <img src="../../../assets/Imagenes/migue.jpg" width="20" height="20" class="rounded">
                                    </div>
                                    <div class="ps-2 lh-1">
                                        <div class="fw-bold">Juanca Mion</div>
                                        <div class="text-secondary fw-light">A comentado tu post recientemente.</div>
                                    </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                    <div class="">
                                        <img src="../../../assets/Imagenes/planta.png" width="20" height="20" class="rounded">
                                    </div>
                                    <div class="ps-2 lh-1">
                                        <div class="fw-bold">Kerry Cabuela</div>
                                        <div class="text-secondary fw-light">Le ha dado like a tu post "¿Que procede...".</div>
                                    </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                    <div class="">
                                        <img src="../../../assets/Imagenes/Bosque.jpg" width="20" height="20" class="rounded">
                                    </div>
                                    <div class="ps-2 lh-1">
                                        <div class="fw-bold">Comi Endorico</div>
                                        <div class="text-secondary fw-light">Le ha dado like a tu foro "Como hac..."</div>
                                    </div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</section>