<p style="color: red;">Pendiente</p>

<!--<section class="recetas">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="recetas.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Recetas</li>
        </ol>
    </nav>
    
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">

                    <h1 style="text-align: left;">
                        Recetas
                    </h1>
                    <p class="pf-1", style="text-align: center;padding: 10px;width: 90%; text-align: justify; font-size: 18px; ">
                        La cocina puede ser un espacio donde se pueden implementar  
                        prácticas sostenibles y amigables con el medio ambiente. Una forma de hacerlo es a 
                        través de la elección de alimentos y recetas que sean 
                        saludables y al mismo tiempo reduzcan nuestra huella ecológica. Por ejemplo, se pueden incorporar platos basados 
                        en vegetales y frutas de temporada, que no solo son más económicos, sino que también reducen la necesidad de transportar alimentos
                        de largas distancias. Además, se pueden reducir los desperdicios alimentarios mediante el aprovechamiento de sobras y restos de 
                        comida en nuevas recetas creativas. De esta forma, podemos cocinar comidas deliciosas y saludables mientras hacemos nuestra 
                        parte para cuidar del planeta.
                    </p>
                </div>
            </div>
          
            <div class="col">
                <div class="p-3">
                    <div class="row row-cols-1 row-cols-md-2 g-4" >
                        <div class="col">
                            <div class="card text-center" style="width: 200px;">    
                                <div class="card-body">
                                    <h5 class="card-title">Plato de comida</h5>
                                    <img src="/images/img 2.png" class="card-img-top" style="width: 150px;">
                                </div>
                                <div>
                                    <a href="#" class="btn btn-success">Conocer mas</a>
                                </div>
    
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center" style="width: 200px;">    
                                <div class="card-body">
                                    <h5 class="card-title">Plato de comida</h5>
                                    <img src="/images/img 2.png" class="card-img-top" style="width: 150px;">
                                </div>
                                <div>
                                    <a href="#" class="btn btn-success">Conocer mas</a>
                                </div>
      
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-center" style="width: 200px;">    
                                <div class="card-body">
                                    <h5 class="card-title">Plato de comida</h5>
                                    <img src="/images/img 2.png" class="card-img-top" style="width: 150px;">
                                </div>
                                <div>
                                    <a href="#" class="btn btn-success">Conocer mas</a>
                                </div>
      
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-center" style="width: 200px;">    
                                <div class="card-body">
                                    <h5 class="card-title">Plato de comida</h5>
                                    <img src="/images/img 2.png" class="card-img-top" style="width: 150px;">
                                </div>
                                <div>
                                    <a href="#" class="btn btn-success">Conocer mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="recetas.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Recetas</li>
        </ol>
    </nav>
</section>-->