<section class="areaUser bg-green">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Area Personal</li>
        </ol>
    </nav>

    <div class="container-fluid align-middle">
        <h1 class="ms-5 mb-5 mt-4">Area Personal</h1>
        <div class="row row-cols-1 row-cols-md-3 g-5 mx-5 px-5">
            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Agregar receta</h5>
                        <button routerLink="/newReceta" type="button" class="btn btn-success">Agregar Receta</button>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Foros Guardados</h5>
                        <button type="button" class="btn btn-success" disabled>Primary button</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Mensajes Enviados</h5>
                        <button type="button" class="btn btn-success" disabled>Primary button</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title" disabled>Ajustes de Perfil</h5>
                        <button type="button" class="btn btn-success" disabled>Primary button</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title" disabled>Añadir amigo</h5>
                        <button type="button" class="btn btn-success" disabled>Primary button</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title" disabled>Donaciones</h5>
                        <button type="button" class="btn btn-success" disabled>Primary button</button>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Area Personal</li>
        </ol>
    </nav>
</section>