<div class="aboutus">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">¿Quienes Somos?</li>
        </ol>
    </nav>
    <h1 class="tituloAboutUs">Nuestra Visión</h1>
    <div class="container-fluid">
        <div class="clearfix">
            <img class="img-fluid col-md-6 me-3 float-md-start rounded-4" src="../../../assets/Imagenes/img 1.png" alt="">
            <p>
                En EcoVida, estamos comprometidos con los Objetivos de Desarrollo Sostenible de la ONU número 3 y número 13, que buscan asegurar una vida saludable y el bienestar para todos, y combatir el cambio climático y sus efectos.
            </p>
            <p>
                Nos enfocamos especialmente en promover la alimentación saludable y sustentable en todas las edades, como una herramienta para reducir los impactos del cambio climático. Nos esforzamos por educar y concientizar a la sociedad sobre la importancia de elegir alimentos orgánicos, locales y de temporada, que no solo son buenos para nuestra salud, sino que también tienen un impacto mínimo en el medio ambiente.
            </p>
        </div>
        <div class="clearfix">
            <img class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid rounded-4" src="../../../assets/Imagenes/img 2.png" alt="">
            <p>
                En EcoVida, trabajamos en estrecha colaboración con agricultores locales y proveedores de alimentos, fomentando prácticas agrícolas sustentables y apoyando la producción de alimentos saludables y de alta calidad. Además, ofrecemos talleres y eventos para que las personas de todas las edades puedan aprender más sobre la alimentación sustentable y cómo pueden hacer cambios positivos en sus propias vidas.
            </p>
            <p>
                Creemos que la vida saludable y la alimentación sustentable son fundamentales para un futuro sostenible y estamos comprometidos en seguir trabajando para hacer una diferencia significativa en nuestro mundo. ¡Únete a nosotros en nuestra misión!
            </p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">¿Quienes Somos?</li>
        </ol>
    </nav>
</div>