<section  class="camb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Cambio climatico</li>
        </ol>
    </nav>

    <div class="texto" >
        <h1>Cambio Climatico</h1>
        <p>
            La concientización del cambio climático es <br> crucial para tomar medidas urgentes y <br> reducir sus 
            efectos negativos. Debemos <br> actuar ahora para proteger nuestro planeta y <br> garantizar un futuro
            sostenible para las <br> generaciones venideras.
        </p>
      
        <img src="../../../assets/Imagenes/bosquequemado.jpg" class="img-fluid" alt="...">
    </div>

    <div class="container-flex">
        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Viajar de forma conciente</h5>
                    <p class="card-text">Elegir viajar en transporte público, compartir el coche con amigos, alquilar coches eléctricos o híbridos en lugar de vehículos convencionales.</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Ahorrar agua</h5>
                    <p class="card-text">Instalar grifos y duchas eficientes, reducir el tiempo de ducha, evitar el riego excesivo del jardín y utilizar electrodomésticos de lavado de ropa y lavavajillas de alta eficiencia.</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Reducir el consumo de energia en el trabajo</h5>
                    <p class="card-text">Utilizar dispositivos electrónicos eficientes y apagarlos cuando no se estén usando, utilizar el modo de suspensión en lugar de apagar completamente los equipos.</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Comprar productos de segunda mano</h5>
                    <p class="card-text">Elegir productos de segunda mano en lugar de nuevos para reducir el consumo de recursos y energía, y evitar que los artículos terminen en un vertedero.</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
          </div>
        </div>
        
        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Consumir menos carne y productos lacteos</h5>
                    <p class="card-text">Reducir la cantidad de carne y productos lácteos en la dieta, o cambiar a opciones veganas o vegetarianas puede reducir significativamente la huella de carbono de una persona..</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 tarjetas">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Apoyar organizaciones ambientales y politicas</h5>
                    <p class="card-text">Apoyar a organizaciones y grupos políticos que promueven la acción climática y trabajan para reducir las emisiones de gases de efecto invernadero.</p>
                </div>
                <div>
                    <a href="cambioclim" class="btn btn-primary">Ver más</a>
                </div>
          </div>
        </div>
        
    </div>

    <div class="ultimas-noticias">
        <div>
            <h1>Ultimas noticias</h1>
            <p>Enterate de lo ultimo que se habla respecto al cambio climatico</p>
        </div>
        
        <div class="card-group container-flex">
            <div class="card" >
                <img src="../../../assets/Imagenes/cambioClim.jpg" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Paris vuelve verde</h5>
                    <p class="card-text">Miles de personas marcharon por un mundo mas consiente respecto al cambio climático...</p>
                </div>
            </div>

            <div class="card h-100">
                <img src="../../../assets/Imagenes/oman.jpeg" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Momento historico</h5>
                    <p class="card-text">Por primera vez en miles de años vuelve a nevar en la Ciudad de Fahud en Oman...</p>
                </div>
            </div>

            <div class="card h-100">
                <img src="../../../assets/Imagenes/sequia.jpg" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Sin espacio para la humedad</h5>
                    <p class="card-text">Las sequías siguen afectando gravemente a la flora y fauna de Chile...</p>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" style="color: #1E8949;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #1E8949;">Cambio climatico</li>
        </ol>
    </nav>
</section>